<!-- {{children | json}} -->
<div class="table-head">
    <ng-container *ngIf="root">
        <div>
            <span>{{children[0].label}}</span>
        </div>
    </ng-container>
    
    <ng-container *ngFor="let child of children">
        <div>
            <span>{{child.label}}</span>
            <ng-container *ngIf="child.children">
                <app-build-table [children]="child.children" [lineItems]="lineItems" />
            </ng-container>
        </div>
    </ng-container>
</div>
<div class="table-body" *ngIf="root">
    <div>
        <ng-container *ngFor="let child of lineItems.children">
            <div>
                <span>{{child.label}}</span>
                <ng-container *ngIf="child.children">
                    <app-build-table [children]="child.children" [lineItems]="lineItems" />
                </ng-container>
            </div>
        </ng-container>
    </div>
    <div>
        <ng-container *ngFor="let child of lineItems.children">
            <div>
                
            </div>
        </ng-container>
    </div>
</div>